.serach-container{
    height:200x;
    margin:auto;
    width:500px;
    display: flex;
    padding:50px 0px;
}

.search-input{
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
        
    color: #575756;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.search-btn{
    border-radius: 50px;
    background-color:#5bc0de;
    padding:0 20px;
    color:white;
}

.img-container{
    display:inline-block;
    width: 250px;
    height: 250px;
}

.loader{
    height:max-content;
    margin:auto;
    width:max-content;
    display: flex;
    padding:50px 0px;
}

.empty {
    display:flex;
    justify-content: center;
    align-items: center;
}

.download-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
    width: max-content;
}